.collapsible-menu {
	width: 100%;
}
.collapsible-trigger {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 1rem;
	border-bottom: solid 1px
		hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 15%));

	&:hover {
		background-color: hsl(
			var(--background-h),
			var(--background-s),
			calc(var(--background-l) - 15%)
		);
	}
}

.collapsible-content {
	background-color: hsl(
		var(--background-h),
		var(--background-s),
		calc(var(--background-l) - 10%)
	);
	border-bottom: solid 1px
		hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 15%));

	& a {
		border-bottom: none;
	}
}
