.form {
	width: 100%;
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.form p {
	text-align: center;
	font-size: 0.9rem;
	color: var(--danger);
	margin-bottom: 1rem;
}

.form .links {
	display: flex;
	justify-content: space-between;
}

.form .links:has(> :last-child:nth-child(1)) {
	justify-content: center;
}

.form a {
	text-transform: uppercase;
	font-size: 0.9rem;
	color: var(--background-40);

	&:hover {
		color: var(--primary);
	}
}

.form-group {
	--pad: 0.75rem;
	position: relative;
}

.form-group label {
	position: absolute;
	left: 4px;
	top: 0;
	transition: transform 200ms;
	text-transform: uppercase;
	font-size: 0.9rem;
	pointer-events: none;
	color: var(--background-60);
}

.form-group input::placeholder {
	opacity: 0;
}

.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
	transform: translate(-12px, -80%) scale(0.8);
	color: var(--primary);
}

.form-group input {
	background-color: transparent;
	width: 100%;
	font-size: 0.9rem;
	line-height: 1;
	padding: 4px 4px 4px 12px;
	border-bottom: solid 1px var(--background-80);
}

.form-group input:focus {
	outline: none;
	box-shadow: none;
	border-bottom: solid 2px var(--primary);
}

.form-group.error .validation-error {
	color: var(--danger);
	font-size: 0.8rem;
}

.form-group+.btn {
	display: block;
	font-size: 1.15rem;
}