.form {
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
}

.form input[type='text'],
.form input[type='password'] {
	font-size: 16px;
	line-height: 28px;
	padding: 8px 16px;
	width: 100%;
	min-height: 44px;
	border-radius: 4px;
	background-color: hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 5%));
	border: solid 1px hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 15%));
}

.form input[type='text']:focus,
.form input[type='password']:focus {
	outline: none;
	box-shadow: 0 0 0 3px
		hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 15%), 0.5);
}

.dark .form input[type='text'] {
	background-color: hsl(var(--background-h), var(--background-s), calc(var(--background-l) + 5%));
	border: solid 1px hsl(var(--background-h), var(--background-s), calc(var(--background-l) + 15%));
}

.dark .form input[type='text']:focus {
	box-shadow: 0 0 0 3px
		hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 15%), 0.5);
}

.form label {
	padding: 0 0.5rem;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9rem;
}

.form .btn,
.todo-detail .btn {
	min-width: 100px;
}

.no-records {
	padding: 1rem;
}
