.flag-icon {
	width: 26px;
	height: 20px;
	box-shadow:
		var(--shadow-color) 0px 1px 2px,
		var(--shadow-color) 0px 2px 4px,
		var(--shadow-color) 0px 4px 8px,
		var(--shadow-color) 0px 8px 16px,
		var(--shadow-color) 0px 16px 32px,
		var(--shadow-color) 0px 32px 64px;
}

.dropdown-menu-trigger {
	display: flex;
	height: 40px;
	width: 50px;
	padding: 0 5px;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	gap: 5px;
	border: solid 1px var(--border-color);

	& svg {
		height: 22px;
		width: auto;
	}
}

.dropdown-menu-content {
	min-width: 220px;
	background-color: white;
	border-radius: 6px;
	padding: 0.5rem 0.5rem;
	box-shadow:
		0px 10px 38px -10px rgba(22, 23, 24, 0.35),
		0px 10px 20px -15px rgba(22, 23, 24, 0.2);
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
	animation-name: slideUpAndFade;

	& span svg {
		fill: var(--background);
	}

	& [role='menuitemradio'],
	& [role='menuitem'] {
		display: flex;
		align-items: center;
		gap: 8px;
		line-height: 1;
		border: none;
		border-radius: 3px;
		height: 2.2rem;
		font-size: 0.9rem;
		padding: 0.5rem;
		position: relative;
		padding-left: 25px;
		user-select: none;
		outline: none;
		text-transform: uppercase;

		&:hover {
			color: var(--inverse-text);
			background-color: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 10%));
		}

		& span:first-child {
			position: absolute;
			left: 0;
			width: 25px;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			& svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
