:root {
	--body-font: 'Poppins', sans-serif;
	--background: hsl(0, 0%, 100%);
	--background-h: 0;
	--background-s: 0%;
	--background-l: 100%;

	--background-100: hsl(var(--background-h), var(--background-s), 100%);
	--background-95: hsl(var(--background-h), var(--background-s), 95%);
	--background-90: hsl(var(--background-h), var(--background-s), 90%);
	--background-85: hsl(var(--background-h), var(--background-s), 85%);
	--background-80: hsl(var(--background-h), var(--background-s), 80%);
	--background-70: hsl(var(--background-h), var(--background-s), 70%);
	--background-60: hsl(var(--background-h), var(--background-s), 60%);
	--background-50: hsl(var(--background-h), var(--background-s), 50%);
	--background-40: hsl(var(--background-h), var(--background-s), 40%);

	--text: hsl(0, 0%, 14%);
	--text-h: 0;
	--text-s: 0%;
	--text-l: 14%;

	--primary: hsl(212, 74%, 45%);
	--primary-h: 212;
	--primary-s: 74%;
	--primary-l: 45%;

	--accent: hsl(21, 95%, 37%);
	--accent-h: 107;
	--accent-s: 100%;
	--accent-l: 63%;

	--success: hsl(129, 53%, 46%);
	--success-h: 129;
	--success-s: 53%;
	--success-l: 46%;

	--danger: hsl(4, 90%, 58%);
	--danger-h: 4;
	--danger-s: 90%;
	--danger-l: 58%;

	--inverse-text: hsl(0, 0%, 100%);
	--inverse-text-h: 0;
	--inverse-text-s: 0%;
	--inverse-text-l: 100%;

	--scrollbar: hsla(var(--background-h), var(--background-s), 50%, 1);
	--scrollbar-track: hsla(var(--background-h), var(--background-s), 90%, 1);
}

.dark {
	--background: hsl(0, 0%, 10%);
	--background-h: 0;
	--background-s: 0%;
	--background-l: 10%;

	--background-100: hsl(var(--background-h), var(--background-s), 10%);
	--background-95: hsl(var(--background-h), var(--background-s), 15%);
	--background-90: hsl(var(--background-h), var(--background-s), 20%);
	--background-85: hsl(var(--background-h), var(--background-s), 25%);
	--background-80: hsl(var(--background-h), var(--background-s), 30%);
	--background-70: hsl(var(--background-h), var(--background-s), 40%);
	--background-60: hsl(var(--background-h), var(--background-s), 50%);
	--background-50: hsl(var(--background-h), var(--background-s), 60%);
	--background-40: hsl(var(--background-h), var(--background-s), 70%);

	--text: hsl(0, 0%, 100%);
	--text-h: 0;
	--text-s: 0%;
	--text-l: 100%;

	--primary: hsl(212, 74%, 45%);
	--primary-h: 212;
	--primary-s: 74%;
	--primary-l: 45%;

	--accent: hsl(107, 100%, 63%);
	--accent-h: 107;
	--accent-s: 100%;
	--accent-l: 63%;

	--success: hsl(88, 50%, 53%);
	--success-h: 88;
	--success-s: 50%;
	--success-l: 53%;

	--danger: hsl(6, 78%, 57%);
	--danger-h: 6;
	--danger-s: 78%;
	--danger-l: 57%;

	--inverse-text: hsl(0, 0%, 100%);
	--inverse-text-h: 0;
	--inverse-text-s: 0%;
	--inverse-text-l: 100%;

	--scrollbar: hsla(var(--background-h), var(--background-s), 50%, 1);
	--scrollbar-track: hsla(var(--background-h), var(--background-s), 90%, 1);
}
