.navbar {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background);
	border-bottom: solid 1px
		hsl(var(--background-h), var(--background-s), calc(var(--background-l) - 12%));
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.dark .navbar {
	border-bottom: solid 1px
		hsl(var(--background-h), var(--background-s), calc(var(--background-l) + 12%));
}

.navbar-content {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	max-width: 768px;
}

.logo {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1;
	font-size: 2rem;
	margin: 0 1rem;
}
