.card {
	--border-color: var(--background-90);
	border: solid 1px var(--border-color);
	background-color: var(--background-100);
	border-radius: 0.3rem;

	& .card-header {
		height: 40px;
		line-height: 40px;
		font-size: 0.9rem;
		text-transform: uppercase;
		padding: 0 1rem;
		border-bottom: solid 1px var(--border-color);
	}

	& .card-content {
		padding: 1rem;
	}
}
